.mt{
	margin-top: 20px;
}
.col-md-2,.resource{
	margin-left: 30px!important;
	width: 60px;
	position: absolute;
	float: right;
	padding: 0 40px 0 0 ;
	background: red;
}

.btn1{
	width: 60%;
	height: 40px;

	background-color: white; 
	color: black; 
	border: 2px solid #008CBA;
	margin-top: 10px;
}
.btn1:hover{
	background:#004d99;
	color: #fff;
}
.contact-submit{
	width: 100%!important;
}